

      <div class="row">

  <!-- Side Bar -->


    <!-- End Side Bar -->


    <!-- Thumbnails -->

        <div class="twelve columns">
          <div class="row">

            <% @products.each do |product| %>

              <div class="three mobile-two columns">
                <img src="<%= product.image_url %>">

                <div class="panel">
                  <h5><%= link_to product.name, product %></h5>
                  <h6 class="subheader">$<%= product.price %></h6>
                </div>
              </div>

            <% end %>

          </div>

    <!-- End Thumbnails -->



          </div>
        </div>
      </div>


